<script>

// Filter Asset
window.addEventListener("load", function(event) {
    $( ".filter-outer .card-columns .card" ).wrap(function() {
      return "<div class='position-relative'></div>";
    });
});
</script>