 <script type="x/template" data-component="item-availability">   
    <div class="availability-outer">
    	<div :class="'availability availability_' + availability.id" :style="paddingStyles"></div>
        <span>
            ${ name }
        </span>
    </div>
</script>

