<script type="x/template" data-component="login">
    <div class="login-pwd-reset">
        <form :id="'login-form-' + _uid" method="post">
            <div :class="{'modal-body': modalElement}">
                <div class="row">
                    <div class="col-12">
                        <div class="input-unit" data-validate="mail">
                            <input type="email" name="email" autocomplete="email" :id="'email' + _uid"
                                   v-model="username" data-autofocus>
                            <label :for="'email' + _uid">${ $translate("Ceres::Template.loginEmail") }*</label>
                        </div>
                        <span class="error-msg">${ $translate("Ceres::Template.loginEnterConfirmEmail") }</span>
                    </div>
                    <div class="col-12">
                        <div class="input-unit" :class="{'no-bottom': modalElement}" data-validate="text">
                            <input type="password" name="password" autocomplete="current-password"
                                   :id="'password' + _uid" v-model="password">
                            <label :for="'password' + _uid">${ $translate("Ceres::Template.loginPassword") }*</label>
                        </div>
                        <span class="error-msg">${ $translate("Ceres::Template.loginEmptyPassword") }</span>
                    </div>
                </div>
            </div>
            <div :class="{'modal-footer justify-content-between': modalElement, 'row': !modalElement}">
                <div class="col-12">
                    <a href="javascript:void(0)" @click="showResetPwdView" class="text-appearance">${
                        $translate("Ceres::Template.loginForgotPassword") }?</a>
                </div>
                <div class="col-12">
                    <button @click.prevent="validateLogin" :disabled="isDisabled"
                            class="btn btn-primary btn-appearance btn-block btn-lg mt-3"
                            :class="[{'float-right-x': !modalElement}, buttonSizeClass]">
                        ${ $translate("Ceres::Template.login") }
                        <icon icon="user" :loading="isDisabled"></icon>
                    </button>
                    <div class="mt-3">
                        <hr class="inner-hr">
                        <span class="inner-hr-caption">{{ trans("devMlt::Template.LoginOr") }}</span>
                        <div class="controls">
                            <ul id="controlsList"
                                class="controls-list mb-0 d-flex justify-content-end list-inline pl-2 pl-sm-1 pl-md-0">
                                <li class="list-inline-item control-user">
                                    <user-login-handler>
                                        <a class="register-link" data-toggle="modal">
                                            <span class="d-sm-inline">+ {{ trans("Ceres::Template.loginRegister") }}</span>
                                        </a>
                                    </user-login-handler>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <slot name="extend-overlay-buttons"></slot>
                </div>
            </div>
    </div>
    </form>
    </div>
</script>
