<script type="x/template" data-component="user-login-handler">
    <div class="position-relative">
        <div class="dropdown" v-if="isLoggedIn">
            <a href="#" class="dropdown-toggle nav-link" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <i class="fa fa-user mr-1 d-sm-none" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">${ $translate("Ceres::Template.loginHello", {"username": username }) }</span>
            </a>
            <div class="dropdown-menu small m-0 p-0 mw-100">
                <div class="list-group" aria-labelledby="accountMenuList" >
                    <a :href="$ceres.urls.myAccount" class="list-group-item small"><i class="fa fa-user"></i> ${ $translate("Ceres::Template.loginMyAccount") }</a>
                    <a href="#" class="list-group-item small" v-logout><i class="fa fa-sign-out"></i> ${ $translate("Ceres::Template.loginLogout") }</a>
                </div>
            </div>
        </div>
        <div v-if="!isLoggedIn" class="text-right">
            <template v-if="showRegistration">
                <span class="pipe" v-if="!showLogin"></span>
                <a class="register-link" :href="isRegister ? 'javascript:void(0)' : '#registration'" :data-toggle="isRegister ? false : 'modal'"  @click="createRegisterModal(); unmarkInputFields();" >
                    <span class="d-sm-inline">+ ${ $translate("Ceres::Template.loginRegister") }</span>
                </a>
            </template>
        </div>
    </div>
</script>