<script type="x/template" id="basket-v2-totals">
    <div class="cmp-totals mlt-totals">
        <div class="h2 mb-4">${ $translate("Ceres::Template.basketTotalSum") }</div>
        <div class="component-loading with-icon refreshing" :class="{ 'is-loading': isBasketLoading }">
            <dl>
                <slot name="before-item-sum"></slot>


                <!-- Basket value (gross) -->
                <template v-if="visibleFields.includes('basketValueGross')">
                    <dt :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ $translate("Ceres::Template.basketValue") }
                    </dt><!--
                    --><dd :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ calculateBaseValue(basket.itemSum, basket.basketRebate)| currency  }
                    </dd>
                </template>
                <!-- Basket value (gross) -->

                <!-- Rebate -->
                <template v-if="visibleFields.includes('rebate') && basket.basketRebate">
                    <dt class="rebate-hint">
                        ${ $translate("Ceres::Template.basketRebate") }
                    </dt><!--
                --><dd class="rebate-hint" v-if="!showNetPrices">
                        ${ calculateBaseValue(basket.itemSum, basket.basketRebate) - basket.itemSum | currency  }
                    </dd><!--
                --><dd class="rebate-hint" v-else>
                        ${ calculateBaseValue(basket.itemSumNet, basket.basketRebate) - basket.itemSumNet | currency  }
                    </dd>
                    <dt :class="{ 'font-weight-normal': showNetPrices }">
                        ${ $translate("Ceres::Template.basketSubTotal") }
                    </dt><!--
                --><dd :class="{ 'font-weight-normal': showNetPrices }">
                        ${ basket.itemSumNet | currency }
                    </dd>
                    <dt :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ $translate("Ceres::Template.basketSubTotal") }
                    </dt><!--
                --><dd :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ basket.itemSum | currency }
                    </dd>
                </template>
                <!-- Rebate -->


                <slot name="after-item-sum"></slot>

                <slot name="before-shipping-costs"></slot>

                <!-- Shipping (gross) -->
                <template v-if="visibleFields.includes('shippingCostsGross')">
                    <dt :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ $translate("Ceres::Template.basketShippingCosts") }
                    </dt><!--
                    --><dd :class="{ 'font-weight-normal': !showNetPrices }">
                        ${ basket.shippingAmount | currency }
                    </dd>
                </template>
                <!-- Shipping (gross) -->

                <slot name="after-shipping-costs"></slot>

                <!-- Coupon -->
                <template v-if="visibleFields.includes('promotionCoupon') && basket.couponCode && basket.couponCampaignType === 'promotion'">
                    <dt class="font-weight-bold">
                        ${ $translate("Ceres::Template.basketCoupon") }
                    </dt><!--
                --><dd class="font-weight-bold">
                        ${ basket.couponDiscount | currency }
                    </dd>
                </template>
                <!-- Coupon -->

                <slot name="before-total-sum"></slot>

                <slot name="before-vat"></slot>

                <slot name="after-vat"></slot>

                <div class="totalSum">
                    <hr>
                    <!-- Total sum (gross) -->
                    <template v-if="visibleFields.includes('totalSumGross')">
                        <dt>
                            ${ $translate("Ceres::Template.basketTotalSum") }
                        </dt><!--
                        --><dd  class="mb-0">
                            ${ basket.basketAmount | currency }
                        </dd>
                    </template>
                    <span class="small text-muted">Preis inkl. ges. Mehrwertsteuer</span>
                    <!-- Total sum (gross) -->

                    <!-- Coupon -->
                    <template v-if="visibleFields.includes('salesCoupon') && basket.couponCode && basket.couponCampaignType === 'sales'">
                        <dt class="font-weight-bold">
                            ${ $translate("Ceres::Template.basketCoupon") }
                        </dt><!--
                     --><dd class="font-weight-bold">
                            ${ basket.couponDiscount | currency }
                        </dd>
                    </template>
                    <!-- Coupon -->

                    <!-- Coupon open amount -->
                    <template v-if="visibleFields.includes('openAmount') && basket.couponCampaignType === 'sales'">
                        <dt class="font-weight-bold">
                            ${ $translate("Ceres::Template.basketOpenAmount") }
                        </dt><!--
                    --><dd class="font-weight-bold">
                            ${ basket.openAmount | currency }
                        </dd>
                    </template>
                    <!-- Coupon open amount -->
                </div>

                <slot name="after-total-sum"></slot>
            </dl>
        </div>

        <div v-if="basket.isExportDelivery && deliveryExportTranslation" class="alert alert-info w-100">
            ${ deliveryExportTranslation }
        </div>
    </div>
</script>