# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\art_t\OneDrive - ODMAIL\Desktop\plentyDevTools\test_mit_nav\38618\38618\38618\96\devMlt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
